

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header{
    padding: 30px 0 20px 0;
}
.logo img{
    float:left;
    margin:0;
    padding:0;
}
.logo p{
    margin: 6px 0 0 17px;
    float: left;
    font-size: 16px;
    color: #00a7ed;
    font-weight: bold;
}

.mynav li a{
    color: #00a7ed;
    font-size:16px;
    padding: 6px 40px 0 0;
    margin: 0;
}
.mynav li{
   padding:0;
   margin:0;
}

.mynav li a:hover{
    background: none;
    text-decoration: underline;
}

.mynav li:last-child{
   border: solid 1px #00a7ed;
   border-radius: 6%;
   padding-right:0;
}

.mynav li:last-child a{font-size: 27px;
text-decoration: none;
cursor:pointer;padding: 5px 5px 2px 5px;
}

.mynav li:last-child a:hover{
background: #00a7ed;
color: #fff;
border: solid 1px #00a7ed;
border-radius: 0;
}

h1{
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    color: #333332;
}

#block-1 img{
    margin: 0 0 0 155px;
}

h2{
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    color: #333332;
}

.order{
    margin: 20px 0 0 282px;
}

.order button{
    background: #ef5c4c;
    text-shadow: none;
    color: #fff;
    font-size: 20px;
    border: none;
}

.order button:hover{
    background: #00a7ed;
    text-shadow: none;
    color: #FFF;
    font-size: 20px;
    border: none;
}

.order button:focus{
    background: #00a7ed;
    text-shadow: none;
    color: #FFF;
    font-size: 20px;
    border: none;
}


.offer{
    margin: 15px 0 0 0;
}





