/* ==========================================================================
   Gorban's styles
   ========================================================================== */
header{
    margin-top: 10px;
}

header img{
    width: 150px;
    margin-left: 49px;
    margin-top: 12px;
}

.nav-pills a{
    color:#000;
}

header ul{
    margin: 10px auto 0;
    width: 319px;
}

header p{
    text-align: right;
    font-size: 14px;
    line-height: 1.09;
}

header p span{
    color: #00A7ED;
    font-weight: bold;
    font-size: 28px;
}

.logo span{
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

h1{
    color: #00A6EC;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
}

#block-1 img{
    margin: 0 0 0 165px;
}

 p.perevagy{
    background: #00a7ed;
    font-size: 18px;
    color: #fff;
    text-indent: 25px;
    margin: 1px 0 0 0;
    padding: 10px 0;
}

p.sale{
   background: #273e7a;
   font-size: 20px;
   color: #fff;
   text-indent: 25px;
   padding: 10px 0;
}

.offer{
    padding: 20px 0 0 0;
}

.order form{
    background: #ef5c4c;
    padding: 20px 0px 1px 70px;
}

.order form label{
   color: #fff;
}
